<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="container">
    <ion-button 
      expand="block" 
      routerLink="/carros" 
      class="btn-carros"
      fill="solid"
    >
      <ion-icon name="car-outline" slot="start"></ion-icon>
      Carros
    </ion-button>

    <ion-button 
      expand="block" 
      routerLink="/usuarios" 
      class="btn-usuarios"
      fill="solid"
    >
      <ion-icon name="person-outline" slot="start"></ion-icon>
      Usuarios
    </ion-button>
  </div>
</ion-content>
