<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="nuevoNombre" placeholder="Nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="nuevoCorreo" placeholder="Correo"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="crearUsuario()">Crear Usuario</ion-button>

  <ion-list>
    <ion-item *ngFor="let user of usuarios">
      {{ user.name }} - {{ user.email }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-list>
  <ion-item *ngFor="let user of users">
    <ion-label>
      <h2>{{ user.name }}</h2>
      <p>{{ user.email }} - Documento: {{ user.documento }}</p>
    </ion-label>
  </ion-item>
</ion-list>
