<main class="container">
  <h1 class="title">Lista de películas</h1>
  <div class="header-actions">
    <button class="nav-button" routerLink="/peliculas">
      Agregar Pelicula
    </button>
    <input
    [(ngModel)]="searchTerm"
    (ngModelChange)="applyFilter()"
    type="text"
    class="search-bar"
    placeholder="Buscar pelicula"
  />
  </div>

  <section class="movie-list">
    <div class="movie-card" *ngFor="let movie of filteredMovies">
  <div>
    <h2 class="movie-name"><strong>Nombre Pelicula:</strong> {{ movie.name }}</h2>
    <div class="movie-content">
    <p class="movie-director"><strong>Director:</strong> {{ movie.director }}</p>
    <span class="movie-year"><strong>Año:</strong> {{ movie.year }}</span>
    </div>
    <p class="movie-id"><strong>ID:</strong> {{ movie.id }}</p>
  </div>
  <button class="btn-delete" (click)="deleteMovie(movie.id)">Eliminar</button>
</div>
  </section>
</main>