.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 4rem 1rem;
  align-items: center;
  font-family: 'Georgia', serif;
  background: linear-gradient(200deg, #000000 50%, #fa9e9e 100%);
  min-height: 100vh;
  box-sizing: border-box;
  animation: fadeIn 0.6s ease;
  overflow-y: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;                  
    transform: translateY(10px); 
  }
  to {
    opacity: 1;                  
    transform: translateY(0);    
  }
}


.header-actions {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  gap: 2rem; 
  padding: 0 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 2.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  
}

.nav-button {
  display: flex;
  background: #f11414;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: #ff7a52;
  }
}

.search-bar {
  display: flex;
  height: 2rem;
  width: 400px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}



.movie-list {
  display: grid;
  grid-template-columns: repeat(1fr) auto;
  gap: 1rem;
}

.movie-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffffd9;
  border-radius: 5px;
  padding: 1rem 1rem;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  gap: 1rem;
}

.movie-content {
  display: flex;
  justify-content: space-around;
  padding: 0rem 0rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.movie-name {
  font-size: 1rem;
  color: #000000;
  margin: 0;
}

.movie-director {
  color: #000000;
  font-size: 1rem;
  margin: 0;
}

.year {
  color: #000000;
  border-radius: 6px;
  font-size: 1rem;
}

.movie-id {
  font-size: 0.8rem;
  color: #000000;
  margin: 0;
}

.btn-delete {
  background: #f11414;
  color: #fffefe;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    background: #ff7a52;
  }
}