ion-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
    justify-items: center;
}

ion-content{
    --ion-background-color: #ffffff;
}
