<ion-content class="ion-padding contenido-registro">

  <ion-accordion-group expand="first">

    <!-- Crear Usuario -->
    <ion-accordion value="create">
      <ion-item slot="header">
        <ion-label>Crear Usuario</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list class="lista-campos">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="nombre" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input [(ngModel)]="email" type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Documento</ion-label>
            <ion-input [(ngModel)]="documento" type="text"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button expand="block" (click)="registrarUsuario()">Registrar Usuario</ion-button>
      </div>
    </ion-accordion>

    <!-- Buscar Usuario -->
    <ion-accordion value="search">
      <ion-item slot="header">
        <ion-label>Buscar Usuario</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label position="floating">ID</ion-label>
          <ion-input [(ngModel)]="idUsuario" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input [(ngModel)]="email" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Documento</ion-label>
          <ion-input [(ngModel)]="documento" type="text"></ion-input>
        </ion-item>

        <ion-button expand="block" color="secondary" (click)="buscarUsuario()">Buscar</ion-button>
      </div>
    </ion-accordion>

    <!-- Eliminar Usuario -->
    <ion-accordion value="delete">
      <ion-item slot="header">
        <ion-label>Eliminar Usuario</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label position="floating">ID</ion-label>
          <ion-input [(ngModel)]="idUsuario" type="number"></ion-input>
        </ion-item>

        <ion-button expand="block" color="danger" (click)="eliminarUsuario()">Eliminar</ion-button>
      </div>
    </ion-accordion>

  </ion-accordion-group>

  <!-- Título para la lista -->
  <h2 class="ion-padding-top">Lista de usuarios:</h2>

  <!-- Lista de usuarios -->
  <ion-list class="ion-margin-top">
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>
        <h2>{{ usuario.name }}</h2>
        <p>{{ usuario.email }}</p>
        <p>{{ usuario.document }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>








