<ion-header>
  <ion-toolbar>
    <ion-title>Listado de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>
        <h2>{{ usuario.nombre }}</h2>
        <p>{{ usuario.correo }} - {{ usuario.documento }}</p>
      </ion-label>
      <ion-button color="danger" fill="clear" (click)="eliminarUsuario(usuario.id)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input placeholder="Nombre" [(ngModel)]="nuevoUsuario.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Correo" [(ngModel)]="nuevoUsuario.correo" type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Documento" [(ngModel)]="nuevoUsuario.documento"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="crearUsuario()">Agregar Usuario</ion-button>
</ion-content>
