ion-input[type="number"] input::-webkit-inner-spin-button,
ion-input[type="number"] input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ion-input[type="number"] input {
  -moz-appearance: textfield;
  appearance: textfield;
}