<ion-header >
  <ion-toolbar>
    <ion-title>Gestión de Películas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class = "ion-content">
    <form (submit)="crearPelicula()">
      <ion-list [inset]="true" lines="inset">  
        <ion-item >
          <ion-input label="Titulo" labelPlacement="floating" [(ngModel)]="nuevoTitulo" name="titulo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Año" labelPlacement="floating" type="number" [(ngModel)]="nuevoAnio" name="anio"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Director" labelPlacement="floating" [(ngModel)]="nuevoDirector" name="director"></ion-input>
        </ion-item>
      </ion-list>
      <div class = "button">
      <ion-button  shape = "round" type="submit" >Crear</ion-button>
      <ion-button  shape = "round" color="light" routerLink="/peliculas-listado" >
      Salir
      </ion-button>
    </div>
    </form>
</ion-content>

