<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="crearUsuario(); $event.preventDefault()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nuevoNombre" name="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="nuevoCorreo" name="correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Documento</ion-label>
      <ion-input [(ngModel)]="nuevoDocumento" name="documento"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">
      Crear Usuario
    </ion-button>
  </form>

  <ion-list *ngIf="usuarios.length > 0" class="ion-margin-top">
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>
        <h2>{{ usuario.nombre }}</h2>
        <p>{{ usuario.correo }} - {{ usuario.documento }}</p>
      </ion-label>
      <ion-button 
        color="danger" 
        slot="end" 
        (click)="usuario.id !== undefined && eliminarUsuario(usuario.id)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <p *ngIf="usuarios.length === 0" class="ion-text-center ion-padding-top">
    No hay usuarios registrados.
  </p>
</ion-content>
