<ion-header>
  <ion-toolbar>
    <ion-title>Listado de Carros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Lista -->
  <ion-list *ngIf="carros.length > 0">
    <ion-item *ngFor="let carro of carros">
      <ion-label>
        <h2>Marca: {{ carro.marca }}</h2>
        <p>Modelo: {{ carro.modelo }}</p>
        <p>Serie: {{ carro.serie }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="carros.length === 0">
    No hay carros registrados aún.
  </ion-text>

  <!-- Formulario -->
  <form (ngSubmit)="crearCarro()">
    <ion-item>
      <ion-label position="floating">Modelo</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoModelo" name="modelo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-input [(ngModel)]="nuevaMarca" name="marca" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Serie</ion-label>
      <ion-input [(ngModel)]="nuevaSerie" name="serie" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">
      Crear Carro
    </ion-button>
  </form>
</ion-content>
