/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/* GLOBAL SCSS */

/* Claro */
body {
  background-color: #ffff00;
  color: #222;
  transition: background-color 0.3s ease, color 0.3s ease;
}
ion-card,
ion-toolbar,
ion-button {
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
ion-card-title{
    --color: #000000;
}
ion-toolbar {
  --background: #3a3a3a;
  --color: #f1f1f1;
}

ion-title {
  --color: #f1f1f1;
}

ion-card {
  border: 2px solid #222;
  background-color: #f0f0d0;
  color: #222;
}

ion-button {
  border: 2px solid #222;
  font-weight: bold;
  --background: #666;
  --color: #f0f0d0;
}

ion-button:hover {
  --background: #999;
}

ion-button img {
  filter: invert(0);
  transition: filter 0.3s ease;
}

/* Oscuro */
body.dark {
  background-color: #0d0d0d;
  color: #e0e0e0;
}
body.dark ion-card-title{
    --color: #e0e0e0;
}

body.dark ion-toolbar {
  --background: #1a1a1a;
  --color: #e0e0e0;
}

body.dark ion-card {
  background-color: #2a2a2a;
  border: 2px solid #555;
  color: #f0f0f0;
}

body.dark ion-button {
  --background: #444;
  --color: #f8f8f8;
  border: 2px solid #777;
}

body.dark ion-button:hover {
  --background: #666;
}

body.dark ion-button img {
  filter: invert(0);
  transition: filter 0.3s ease;
}
