<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de Carros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gestión de Carros</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-list>
    <ion-item *ngFor="let carro of carros">
      <ion-label>
        <h2>{{ carro.marca }} - {{ carro.modelo }}</h2>
        <p>Serie: {{ carro.serie }}</p>
      </ion-label>
      <ion-button color="danger" fill="clear" slot="end" (click)="deleteCarro(carro.id)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>-->

  <ion-item>
    <ion-label position="floating">Modelo</ion-label>
    <ion-input [(ngModel)]="newCarro.modelo" type="number" placeholder="Modelo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Marca</ion-label>
    <ion-input [(ngModel)]="newCarro.marca" placeholder="Marca"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Serie</ion-label>
    <ion-input [(ngModel)]="newCarro.serie" placeholder="Serie"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="createCarro()">Agregar Carro</ion-button>

  <ion-button expand="block" routerLink="/listado-carros" color="primary" class="ion-margin-top">
    Listado de Carros
  </ion-button>

  <ion-button expand="block" color="danger" routerLink="/home" class="ion-margin-top">
    Cancelar
  </ion-button>
</ion-content>


